<section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="newpromisehardware@yahoo.com">newpromisehardware@yahoo.com</a>
        <i class="icofont-phone"></i> +63961 745 5720 / +63955 188 2086
      </div>
      <div class="social-links">
        {{!-- <a href="#" class="twitter"><i class="icofont-twitter"></i></a> --}}
        <a href="login">Admin Login</a>
        <a href="https://www.facebook.com/newpromisehardware" target="_blank" rel="noopener noreferrer" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/newpromisehardware/" target="_blank" rel="noopener noreferrer" class="instagram"><i class="icofont-instagram"></i></a>
        
        {{!-- <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a> --}}
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        
        <h1 class="text-light"><img src="./assets/nphlogo.png"  alt=""><a href="/">      New Promise Hardware</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <!-- inbox notificatoin start-->
          <li id="mail_notificatoin_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <span class="badge bg-important">{{session.cart.totalQty}}</span>
                        </a>
            <ul class="dropdown-menu extended inbox">
              <div class="notify-arrow notify-arrow-blue"></div>
              <li>
                <p class="default">You have {{session.cart.totalQty}} items in your cart</p>
              </li>
               {{#if products}} 
              {{#each products }}
              <li>
                <a href="/post/view/addtocart/{{this.item._id}}">
                                    <span class="photo"><img alt="avatar" src={{this.item.img}}></span>
                                    <span class="subject">
                                    <span class="from">{{this.item.productName}}</span>
                                    <span class="time">{{this.qty}}</span>
                                    </span>
                                    <span class="message">
                                        ₱ {{this.price}}
                                    </span>
                  </a>
              </li>
               {{/each }}
               {{else}}
                <li>
                    <span class="from">No Products Yet!</span>
              </li>
              {{/if}}

              <li>
                <a href="/seecart">See all items</a>
              </li>
            </ul>
          </li>
          <!-- inbox notificatoin end -->
          <li class="active"><a href="/">Home</a></li>
          <li><a href="ProductsPage">Products</a></li>
          <li><a href="AboutUs">About</a></li>
          <li><a href="FAQ">FAQ</a></li>
          <li><a href="Reviews">Reviews</a></li>
          <li><a href="Checkout">Checkout</a></li>
          
          {{!-- <li><a href="pricing.html">Pricing</a></li>
          <li><a href="blog.html">Blog</a></li> --}}
          {{!-- <li class="drop-down"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="drop-down"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>

        </ul> --}}
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->