  {{#each orderItem}}
          <div class="col-lg-6" data-aos="fade-up">
            <div class="testimonial-item">
              <img src="./assets/neworder.png" class="testimonial-img" alt="">
              <h3>{{lastName}},{{firstName}},{{middleInitial}}</h3>
              <h4>{{createdAt}}</h4>
              <p>
                  Total of {{cart.totalQty}} items: {{#each cart.items }}  {{item.productName}},  {{/each}}
              </p>
              <br>
              <div class="choicebutton">
                <a class="viewbtn" href="/orderdetails/{{this._id}}">View</a>
                <b href ="/order/delete/{{this._id}}" class="btn">Delete</b>
              </div>
            </div>
            
          </div>
{{/each}}