{{> navadmin}}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
   
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Orders Details</h2>
          <ol>
            <li><a href="admin">Dashboard</a></li>
            <li>Orders Details</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
    <form id="fcf-form-id" class="fcf-form-class" action="/Edit/Status" method="POST" >
      <div class="container">
         <input name="firstName" type="hidden" value="{{orderItem.firstName}}">
         <input name="lastName" type="hidden" value="{{orderItem.lastName}}">
         <input name="middleInitial" type="hidden" value="{{orderItem.middleInitial}}">
         <input name="facebookName" type="hidden" value="{{orderItem.facebookName}}">
         <input name="contactNumber" type="hidden" value="{{orderItem.contactNumber}}">
         <input name="address" type="hidden" value="{{orderItem.address}}">
         <input name="_id" type="hidden" value="{{orderItem._id}}">

        <h3>Name: {{orderItem.lastName}},{{orderItem.firstName}},{{orderItem.middleInitial}}</h3>
        <h3>Address: {{orderItem.address}}</h3>
        <h3>Email: {{orderItem.emailAddress}}</h3>
        <h3>Contact: {{orderItem.contactNumber}}</h3>
        <h4>Date: {{orderItem.createdAt}}</h4>
        <h4>Status: <input type="text" name ="status" value="{{orderItem.status}}"> </h4>
        <h4>Delivery Date: <input type="date" name ="delivery_date" value="{{orderItem.delivery_date}}"></h4>
        <br>
        <div class="choicebutton">
            <button type="submit">Change Status</button>
            <b href ="/order/delete/{{orderItem._id}}">Delete</b>
        </div>
        <br>

        <table id="productSizes" class="table">
        <thead>
            <tr class="d-flex">
                <th style="width:10%">Quantity</th>
                <th style="width:10%">Item Brand</th>
                <th style="width:60%">Item Name</th>
                <th style="width:10%">Price</th>
                <th style="width:10%">Total Price</th>
            </tr>
        </thead>
        <tbody>
          {{#each orderItem.cart.items }}
            <tr class="d-flex">
                <td style="width:10%"> {{qty}}</td>
                <td style="width:10%"> {{item.productBrand}}</td>
                <td style="width:60%"> {{item.productName}}</td>
                <td style="width:10%"> {{item.productPrice}}</td>
                <td style="width:10%"> {{price}}</td>
            </tr>
          {{/each}}
            
        </tbody>
    </table>

        
      
    </div>
          

        </div>

      </div>
      </form>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

